{% extends "base.html" %}
{% load static %}


{% block content%}
<section class="tf-section hero-slider style-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="block-text pt-24 center" >
                    <h6 class="sub-title mb-6" data-aos="fade-up">HOOMAS | AI HELPER</h6>
                    <h2 class="title mb-26" data-aos="fade-up">محبوب ترین AI ها <br> گروه ها</h2>
                    <p class="desc mb-53" data-aos="fade-up">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک ست.  </p>
                    <a href="about.html" class="btn-action style-2" data-aos="fade-up" data-aos-duration="1200" >عضو شوید</a>

                    <div class="shape">
                        <div class="item bg-1"><img src="{% static 'assets/images/items/item-11.png'%}" alt="Image"></div>
                        <div class="item bg-2"><img src="{% static 'assets/images/items/item-12.png'%}" alt="Image"></div>
                        <div class="item bg-1"><img src="{% static 'assets/images/items/item-13.png'%}" alt="Image"></div>
                        <div class="item bg-1"><img src="{% static 'assets/images/items/item-14.png'%}" alt="Image"></div>
                        <div class="item bg-2"><img src="{% static 'assets/images/items/item-06.png'%}" alt="Image"></div>
                        <div class="item bg-2"><img src="{% static 'assets/images/items/item-15.png'%}" alt="Image"></div>
                        <div class="item bg-1"><img src="{% static 'assets/images/items/item-16.png'%}" alt="Image"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="tf-section section-speciality rtl">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-md-6 col-12 rtl">
                <div class="box-item bg-2 rtl" data-aos="fade-up" data-aos-duration="800">
                        <img src="{% static 'assets/images/icon/hosting.png'%}" alt="...">
                        <a href="collections.html" class="h5">مجموعه عظیم</a>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                    </div>
            </div>
            <div class="col-xl-3 col-md-6 col-12 rtl">
                <div class="box-item bg-2 s2" data-aos="fade-up" data-aos-duration="1000">
                        <img src="{% static 'assets/images/icon/provision.png'%}" alt="...">
                        <a href="collections.html" class="h5">منبع برتر</a>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                    </div>
            </div>
            <div class="col-xl-3 col-md-6 col-12 rtl" data-aos="fade-up" data-aos-duration="1200">
                <div class="box-item bg-2 s2-m">
                        <img src="{% static 'assets/images/icon/badge.png'%}" alt="...">
                        <a href="collections.html" class="h5">کیفیت بالا</a>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                    </div>
            </div>
            <div class="col-xl-3 col-md-6 col-12 rtl" data-aos="fade-up" data-aos-duration="1400">
                <div class="box-item bg-2 s2">
                        <img src="{% static 'assets/images/icon/chat.png'%}" alt="...">
                        <a href="collections.html" class="h5">انجمن بزرگ</a>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                    </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us -->
<section class="tf-section section-about ">
    <div class="container">
        <div class="row reverse rtl">
            <div class="col-xl-7 col-md-12">
                <div class="group-image">
                    <div class="left">
                        <div class="item bg-1"><img src="{% static 'assets/images/items/item-06.png'%}" alt="..."></div>
                    </div>
                    <div class="right">
                        <div class="item bg-2"><img src="{% static 'assets/images/items/item-11.png'%}" alt="..."></div>
                        <div class="item bg-3"><img src="{% static 'assets/images/items/item-10.png'%}" alt="..."></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-md-12">
                <div class="block-text pt-12">
                    <h5 class="sub-title mb-10" data-aos="fade-up" data-aos-duration="1000">درباره ما</h5>
                    <h3 class="title mb-58" data-aos="fade-up" data-aos-duration="1000">مجموعه های NFT با کیفیت بالا
                    </h3>
                    <p class="fs-21 mb-33" data-aos="fade-up" data-aos-duration="1000">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است.  </p>
                    <p class="fs-18 line-h17 mb-41" data-aos="fade-up" data-aos-duration="1000">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است.</p>
                    <a href="about.html" class="btn-action style-2"  data-aos="fade-up" data-aos-duration="1200">اطلاعات بیشتر</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end About Us -->

<!-- Montono -->
<section class="tf-section montono">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="block-text center">
                    <h1 class="heading-bg" data-aos="fade-in" data-aos-duration="1000"><span>Collections</span></h1>
                    <h5 class="sub-title mb-10" data-aos="fade-up" data-aos-duration="1000">مجموعه نمونه کارها NFT</h5>
                    <h3 class="title mb-28" data-aos="fade-up" data-aos-duration="1000">NFT ما را بررسی کنید<br> مجموعه ها</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-52">
            <div class="col-xl-4 col-md-6">
                <div class="image-box" data-aos="fade-up" data-aos-duration="1000">
                    <img src="{% static 'assets/images/items/119.webp'%}" alt="...">
                    <div class="image-box__title">
                        <a href="collections.html" class="h6">آیتم مونتنو 1</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="image-box" data-aos="fade-up" data-aos-duration="1000">
                    <img src="{% static 'assets/images/items/111.png'%}" alt="...">
                    <div class="image-box__title">
                        <a href="collections.html" class="h6">آیتم مونتنو 2</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="image-box" data-aos="fade-up" data-aos-duration="1000">
                    <img src="{% static 'assets/images/items/112.webp'%}" alt="...">
                    <div class="image-box__title">
                        <a href="collections.html" class="h6">آیتم مونتنو 3</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="image-box" data-aos="fade-up" data-aos-duration="1000">
                    <img src="{% static 'assets/images/items/item-09.png'%}" alt="...">
                    <div class="image-box__title">
                        <a href="collections.html" class="h6">آیتم مونتنو 4</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="image-box" data-aos="fade-up" data-aos-duration="1000">
                    <img src="{% static 'assets/images/items/item-08.png'%}" alt="...">
                    <div class="image-box__title">
                        <a href="collections.html" class="h6">آیتم مونتنو 5</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="image-box" data-aos="fade-up" data-aos-duration="1000">
                    <img src="{% static 'assets/images/items/item-26.png'%}" alt="...">
                    <div class="image-box__title">
                        <a href="collections.html" class="h6">آیتم مونتنو 6</a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="view-all center">
                    <a class="btn-action" href="img collections.html">
                        مشاهده همه
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end Montono -->

<!-- Road Map -->
<section class="tf-section road-map">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="block-text center">
                    <h1 class="heading-bg" data-aos="fade-in" data-aos-duration="1000"><span>Road Map</span></h1>
                    <h5 class="sub-title mb-10" data-aos="fade-up" data-aos-duration="1000">نقشه راه</h5>
                    <h3 class="title mb-28" data-aos="fade-up" data-aos-duration="1000">سفر به NFT <br> نمونه کارها </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="road-map__content style-2 rtl">
                    <div class="swiper swiper-road-map">
                        <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="swiper-box top">
                                <div class="box-time rtl" data-aos="fade-down">
                                    <span data-aos="zoom-in" data-aos-offset="300"><i class="fa fa-check"></i></span> 
                                    <h5 class="title mb-20">نسل ایده</h5>
                                    <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                </div>
                                <p class="fs-16 color-main mb-0">1402 ، 1 فروردین</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-box bottom">
                                <div class="box-time rtl" data-aos="fade-up">
                                    <span data-aos="zoom-in" data-aos-offset="300"><i class="fa fa-check"></i></span>
                                    
                                    <h5 class="title mb-20">پژوهش</h5>
                                    <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                </div>
                                <p class="fs-16 color-main mb-0">1402 ، 1 فروردین</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-box top">
                                <div class="box-time rtl" data-aos="fade-down">
                                    <span data-aos="zoom-in" data-aos-offset="300"><i class="fa fa-circle"></i></span>
                                    <h5 class="title mb-20">توسعه</h5>
                                    <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                </div>
                                <p class="fs-16 color-main mb-0">1402 ، 1 فروردین</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-box bottom">
                                <div class="box-time rtl" data-aos="fade-up">
                                    <span data-aos="zoom-in" data-aos-offset="300"><i class="fa fa-angle-right color2"></i></span>
                                    <h5 class="title mb-20">نتیجه</h5>
                                    <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                </div>
                                <p class="fs-16 color-main mb-0">1402 ، 1 فروردین</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-box top">
                                <div class="box-time rtl">
                                    <span data-aos="zoom-in" data-aos-offset="300"><i class="fa fa-check"></i></span> 
                                    <h5 class="title mb-20">نسل ایده</h5>
                                    <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                </div>
                                <p class="fs-16 color-main mb-0">1402 ، 1 فروردین</p>
                            </div>
                        </div>

                        </div>
                        
                    
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
                    
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end Road Map -->

<!-- Portfolio -->
<section class="tf-section portfolio">
    <div class="container-fluid">
        <div class="swiper swiper-portfolio s1">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><div class="item bg-2"><a href="#"><img src="{% static 'assets/images/items/item-17.png'%}" alt="Image"></a></div></div>
                <div class="swiper-slide"><div class="item bg-2"><a href="#"><img src="{% static 'assets/images/items/item-18.png'%}" alt="Image"></a></div></div>
                <div class="swiper-slide"><div class="item bg-2"><a href="#"><img src="{% static 'assets/images/items/item-19.png'%}" alt="Image"></a></div></div>
                <div class="swiper-slide"><div class="item bg-2"><a href="#"><img src="{% static 'assets/images/items/item-20.png'%}" alt="Image"></a></div></div>
                <div class="swiper-slide"><div class="item bg-2"><a href="#"><img src="{% static 'assets/images/items/item-21.png'%}" alt="Image"></a></div></div>
                <div class="swiper-slide"><div class="item bg-2"><a href="#"><img src="{% static 'assets/images/items/item-22.png'%}" alt="Image"></a></div></div>
                <div class="swiper-slide"><div class="item bg-2"><a href="#"><img src="{% static 'assets/images/items/item-23.png'%}" alt="Image"></a></div></div>
            </div>
        </div>
    </div>
    
    <div class="swiper swiper-portfolio s2">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><div class="item bg-2"><a href="#"><img src="{% static 'assets/images/items/item-21.png'%}" alt="Image"></a></div></div>
        <div class="swiper-slide"><div class="item bg-2"><a href="#"><img src="{% static 'assets/images/items/item-22.png'%}" alt="Image"></a></div></div>
        <div class="swiper-slide"><div class="item bg-2"><a href="#"><img src="{% static 'assets/images/items/item-23.png'%}" alt="Image"></a></div></div>
        <div class="swiper-slide"><div class="item bg-2"><a href="#"><img src="{% static 'assets/images/items/item-24.png'%}" alt="Image"></a></div></div>
        <div class="swiper-slide"><div class="item bg-2"><a href="#"><img src="{% static 'assets/images/items/item-25.png'%}" alt="Image"></a></div></div>
        <div class="swiper-slide"><div class="item bg-2"><a href="#"><img src="{% static 'assets/images/items/item-17.png'%}" alt="Image"></a></div></div>
        <div class="swiper-slide"><div class="item bg-2"><a href="#"><img src="{% static 'assets/images/items/item-18.png'%}" alt="Image"></a></div></div>
        </div>
    </div>
</section>
<!-- end Portfolio -->

<!-- Team -->
<section class="tf-section team">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="block-text center">
                    <h1 class="heading-bg" data-aos="fade-in" data-aos-duration="1000"><span>Team</span></h1>
                    <h5 class="sub-title mb-10" data-aos="fade-up" data-aos-duration="1000">اعضای تیم</h5>
                    <h3 class="title mb-28" data-aos="fade-up" data-aos-duration="1000">تیم شگفت انگیز ما <br> اعضا</h3>
                </div>
            </div>
        </div>
        <div class="row mt-48">
            <div class="col-xl-3 col-md-6">
                <div class="team-box-2" data-aos="fade-up" data-aos-duration="800">
                    <div class="img-team">
                        <img src="{%static 'assets/images/team/team-01.jpg'%}" alt="...">
                        <div class="social">
                            <p>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </p>
                        </div>
                    </div>
                    <div class="team-info">
                        <a href="team.html" class="h5">chat GPT</a>
                        <p class="fs-16">همه کاره</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="team-box-2" data-aos="fade-up" data-aos-duration="1200">
                    <div class="img-team">
                        <img src="{% static 'assets/images/team/team-02.jpg'%}" alt="...">
                        <div class="social">
                            <p>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </p>
                        </div>
                    </div>
                    <div class="team-info">
                        <a href="team.html" class="h5">google Bard</a>
                        <p class="fs-16">گوگل کن</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="team-box-2" data-aos="fade-up" data-aos-duration="1600">
                    <div class="img-team">
                        <img src="{% static 'assets/images/team/team-03.jpg'%}" alt="...">
                        <div class="social">
                            <p>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </p>
                        </div>
                    </div>
                    <div class="team-info">
                        <a href="team.html" class="h5">Grok</a>
                        <p class="fs-16">قدرتمند واقعی</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="team-box-2" data-aos="fade-up" data-aos-duration="2000">
                    <div class="img-team">
                        <img src="{% static 'assets/images/team/team-04.jpg'%}" alt="...">
                        <div class="social">
                            <p>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </p>
                        </div>
                    </div>
                    <div class="team-info">
                        <a href="team.html" class="h5">copilot</a>
                        <p class="fs-16">کمک خلبان</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row pb-team">
            <div class="col-xl-4 col-md-6">
                <div class="team-box-2" data-aos="fade-up" data-aos-duration="1000">
                    <div class="img-team">
                        <img src="{% static 'assets/images/team/team-05.jpg'%}" alt="...">
                        <div class="social">
                            <p>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </p>
                        </div>
                    </div>
                    <div class="team-info">
                        <a href="team.html" class="h5">voe3</a>
                        <p class="fs-16">تدوین گر</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="team-box-2" data-aos="fade-up" data-aos-duration="1200">
                    <div class="img-team">
                        <img src="{%static 'assets/images/team/team-06.jpg'%}" alt="...">
                        <div class="social">
                            <p>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </p>
                        </div>
                    </div>
                    <div class="team-info">
                        <a href="team.html" class="h5">cloudy</a>
                        <p class="fs-16">برنامه نویس</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-12">
                <div class="team-box-2" data-aos="fade-up" data-aos-duration="1400">
                    <div class="img-team">
                        <img src="{%static 'assets/images/team/team-07.jpg'%}" alt="...">
                        <div class="social">
                            <p>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </p>
                        </div>
                    </div>
                    <div class="team-info">
                        <a href="team.html" class="h5">vercle</a>
                        <p class="fs-16">برنامه نویس</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>   
<!-- end Team -->
<section class="tf-section page-title">

            </div>
        </div>
    </div>
</section>

<!-- Counter -->
<section class="tf-section counter">
    <div class="container">
            <div class="col-md-12">
                <div class="page-title__body rm">
                    <div class="row">
                        <div class="col-12">
                            <div class="counter__body rtl" data-aos="fade-down" data-aos-duration="1000">
                                <div class="counter">
                                    <div class="number-counter">
                                        <span class="number" data-speed="1000" data-to="100" data-inviewport="yes">10</span>هزار
                                    </div>
                                    <h5 class="title">کاربر ثبت نام شده</h5>    
                                </div>
                                <div class="counter">
                                    <div class="number-counter">
                                        <span class="number" data-speed="1000" data-to="5" data-inviewport="yes">10</span>میلیون
                                    </div>
                                    <h5 class="title">کل دارایی</h5>    
                                </div>
                                <div class="counter">
                                    <div class="number-counter">
                                        <span class="number" data-speed="1000" data-to="10" data-inviewport="yes">10</span>بیلیون
                                    </div>
                                    <h5 class="title">درامد سالانه</h5>    
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>
    </div>
</section>
<!-- end Counter -->

<!-- Testimonial -->
<section class="tf-section testimonial">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="block-text center">
                    <h1 class="heading-bg" data-aos="fade-in" data-aos-duration="1000"><span>Testimonial</span></h1>
                    <h5 class="sub-title mb-10" data-aos="fade-up" data-aos-duration="1000">گواهی نامه</h5>
                    <h3 class="title mb-28" data-aos="fade-up" data-aos-duration="1000">آنچه مردم میگویند ! <br> درباره ما</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="testimonial__content style-2">
                <div class="swiper swiper-testimonial2">
                    <div class="swiper-wrapper">
                        {% for prompt in prompts %}
                            <div class="swiper-slide">
                                <div class="box-testimonial rtl">
                                    <img class="quote" src="{% static 'assets/images/testimonial/left-quote.png'%}" alt="...">
                                    <p class="text">{{prompt.body}}</p>
                                    <div class="info">
                                        <img src="{% static 'assets/images/testimonial/avt-02.png'%}" alt="...">
                                        <div>
                                            <h6>{{prompt.author}}</h6>
                                            <p class="fs-16">{{prompt.title}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            ...
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>

                
                </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end Testimonial -->

<!-- FAQ -->
<section class="tf-section faq rtl">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="block-text center">
                    <h1 class="heading-bg" data-aos="fade-in" data-aos-duration="1000"><span>FAQ</span></h1>
                    <h5 class="sub-title mb-10" data-aos="fade-up" data-aos-duration="1000">سوالات متداول</h5>
                    <h3 class="title mb-28" data-aos="fade-up" data-aos-duration="1000">اغلب پرسیده شده <br> سوالات</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="flat-tabs" data-aos="fade-up" data-aos-duration="800">
                    <div class="col-md-4 col-12">
                        <ul class="menu-tab">
                            <li class="item-title active">
                                <span class="inner">ارز دیجیتال</span>
                            </li>
                            <li class="item-title">
                                <span class="inner">توکن NFT</span>
                            </li>
                            <li class="item-title">
                                <span class="inner">مجموعه</span>
                            </li>
                            <li class="item-title">
                                <span class="inner">تجارت رمزنگاری</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-8 col-12">
                        <div class="content-tab">
                            <div class="content-inner">
                                <div class="flat-accordion">
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title active">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم؟</h5>
                                        <div class="toggle-content">
                                        <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                        </div>
                                    </div>
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم؟</h5>
                                        <div class="toggle-content">
                                        <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                        </div>
                                    </div>
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم؟</h5>
                                        <div class="toggle-content">
                                        <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                        </div>
                                    </div>
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم؟?</h5>
                                        <div class="toggle-content">
                                        <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                        </div>
                                    </div>                       
                                </div>
                            </div>
                            <div class="content-inner">
                                <div class="flat-accordion">
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title active">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم؟</h5>
                                        <div class="toggle-content">
                                        <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                        </div>
                                    </div>
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم؟</h5>
                                        <div class="toggle-content">
                                        <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                        </div>
                                    </div>
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم؟</h5>
                                        <div class="toggle-content">
                                        <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                        </div>
                                    </div>
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم؟?</h5>
                                        <div class="toggle-content">
                                        <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                        </div>
                                    </div>                       
                                </div>
                            </div>
                            <div class="content-inner">
                                <div class="flat-accordion">
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title active">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم؟</h5>
                                        <div class="toggle-content">
                                        <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                        </div>
                                    </div>
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم؟</h5>
                                        <div class="toggle-content">
                                        <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                        </div>
                                    </div>
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم؟</h5>
                                        <div class="toggle-content">
                                        <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                        </div>
                                    </div>
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم؟?</h5>
                                        <div class="toggle-content">
                                        <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                        </div>
                                    </div>                       
                                </div>
                            </div>
                            <div class="content-inner">
                                <div class="flat-accordion">
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title active">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم؟</h5>
                                        <div class="toggle-content">
                                        <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                        </div>
                                    </div>
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم؟</h5>
                                        <div class="toggle-content">
                                        <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                        </div>
                                    </div>
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم؟</h5>
                                        <div class="toggle-content">
                                        <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                        </div>
                                    </div>
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم؟?</h5>
                                        <div class="toggle-content">
                                        <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                        </div>
                                    </div>                       
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>
<!-- end FAQ -->

<!-- Blog -->
<section class="tf-section blog">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="block-text center">
                    <h1 class="heading-bg" data-aos="fade-in" data-aos-duration="1000"><span>Blog</span></h1>
                    <h5 class="sub-title mb-10" data-aos="fade-up" data-aos-duration="1000">از وبلاگ ما</h5>
                    <h3 class="title mb-28" data-aos="fade-up" data-aos-duration="1000">بخوانید و مطلع شوید<br>اخبار و مقالات</h3>
                </div>
            </div>
        </div>
            <div class="container">
                <div class="row">
                    
                    {% for post in post_list %}
                        <div class="col-xl-4 col-md-6 col-12 fl-item2 rtl">
                            <div class="blog-box">
                                <div class="blog-img">
                                        <img src="{{post.photo.url}}" alt="...">
                                </div>
                                <div class="blog-content rtl">
                                    
                                    <ul class="meta">
                                        <li><a href="{% url 'post_detail' post.pk %}"><i class="fa fa-folder-open"></i>{{post.title}}</a><p><i class="fa fa-clock"></i> {{post.date}}</p></li>
                                    </ul>
                                    <a href="{% url 'post_detail' post.pk %}" class="title h6">{{post.exerpt}}</a>
                                    {% comment %} <p class="title h6">{{post.body}}</p> {% endcomment %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="col-12">
                        <div class="load-more center">
                            <a id="loadmore" class="btn-action" href="#">
                                مشاهده بیشتر
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
</section>
<!-- end Blog -->

<!-- Partners -->
<section class="tf-section partners">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="partners__body style-2" data-aos="fade-up" data-aos-duration="800">

                    <div class="swiper swiper-partner">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="box-partner">
                                    <a href="#"><img src="{% static 'assets/images/partners/logo-01.png'%}" alt=".."></a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="box-partner">
                                    <a href="#"><img src="{% static 'assets/images/partners/logo-02.png'%}" alt="..."></a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="box-partner">
                                    <a href="#"><img src="{% static 'assets/images/partners/logo-03.png'%}" alt="..."></a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="box-partner">
                                    <a href="#"><img src="{% static 'assets/images/partners/logo-04.png'%}" alt="..."></a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="box-partner">
                                    <a href="#"><img src="{% static 'assets/images/partners/logo-05.png'%}" alt="..."></a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="box-partner">
                                    <a href="#"><img src="{% static 'assets/images/partners/logo-06.png'%}" alt="..."></a>
                                </div>
                            </div>
                        </div>

                    </div>
                    
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
<!-- end Partners -->
<section class="like-comment">
    <nav>
        <div class="cont">
            <div class="nav-content">
                    <div class="search-container">
                            <a href="#"><i class="fas fa-comment"></i></a>
                    </div>
                <div class="search-container">
                        <a href="#"><i class="fas fa-search"></i></a>
                </div>
                <div class="search-container">
                        <a href="#"><i class="fas fa-heart"></i></a>
                </div>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </div>
        </div>
    </nav>
</section>

{% endblock content %}