{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">

        <ol>
          <li><a href="index.html">خانه</a></li>
          <li><a href="{% url 'blog' %}">وبلاگ</a></li>
          <li>{{post.title}} </li>
        </ol>
      </div>

    </div>
  </section>
<section class="blog-single">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="blog-img">
                    <img src="{{post.photo.url}}" alt="Monteno">
                </div>
            </div>
        </div>
        <div class="row rtl">
            <div class="col-xl-9 col-md-12 rtl">
                <div class="blog-body">
                    <div class="blog-content rtl">
                        <ul class="meta">
                            <li><a href="#"><i class="fa fa-folder-open"></i>{{post.title}}</a></li>
                            <li><a href="#"><i class="fa fa-user"></i>{{post.author}}</a></li>
                            <li><a href="#"><i class="fa fa-clock"></i>{{post.date}}</a></li>
                            <li><a href="#comment">{% if post.comment_set.count > 1 %}
                                <h6 >{{post.comment_set.count}} نظر  </h6>
                            {%else%}
                                <h6> {{post.comment_set.count}} نظر  </h6>
                            {%endif%}
                            </a></li>
                        </ul>
                        <h3 class="title">
                            {{post.title}}
                        </h3>
                        <p class="fs-18">
                            {{post.body}}
                            </p>
                        <blockquote>
                            <p class="fs-21">
                                {{post.body}}
                            </p>
                            <div>
                                <a href="#">مصطفی معقول، </a>
                                <p> برنامه نویس</p> </div>
                        </blockquote>
                        <p class="fs-18 mt-42">
...
                        </p>

                        <p class="fs-18 mt-42">
                            همکاری بی‌درنگ یا ریل تایم: برنامه هوش مصنوعی Gamma به چندین کاربر امکان می‌دهد به طور همزمان روی یک ارائه کار کنند. این ابزار همکاری را از طریق ویژگی‌هایی مانند نظرات و اعلان‌ها به‌روزرسانی ممکن می‌کند. 
وارد کردن تم: این گزینه به شما اجازه می‌دهد رنگ‌ها، فونت‌ها، لوگو، و طراحی ارائه‌هایتان را کنترل کنید تا با برندتان سازگار باشد. می‌توانید تم خود را بسازید، یک فایل پاورپوینت وارد کنید یا یک قالب استاندارد را ویرایش کنید.  
                        </p>
                        <p class="fs-18 mt-42">
                            گزینه‌های خروجی یا اکسپورت: در گاما ارائه‌ها می‌توانند به صورت PDF یا فایل پاورپوینت اکسپورت شوند، اما گرفتن خروجی مستقیم به Google Slides در گاما در دسترس نیست. برای این کار ابتدا باید ارائه را به صورت فایل PPT دانلود کنید تا در Google Slides استفاده شود.  
نکته: اگر قصد دارید ارائه‌تان را به صورت فایل پاورپوینت اکسپورت کنید، سبک صفحه را به «Traditional» تغییر دهید.  

پیگیری تعاملات: گاما دارای تحلیل‌های داخلی است که نشان می‌دهد ارائه‌ها چند بار مشاهده شده‌اند یا چندبار با آن‌ها تعامل شده‌ است.
قالب‌ها و رسانه‌ها: هوش مصنوعی ساخت پاورپوینت Gamma طیف گسترده‌ای از تم‌های رنگی ارائه می‌دهد که به کاربران این امکان را می‌دهد تا ارائه‌های خود را سریع سفارشی‌ یا شخصی‌سازی کنند. همچنین گاما از محتوای متنوعی مانند متن، تصاویر، ویدیوها، نمودارها و عناصر تعاملی برای افزایش تعامل با مخاطبان هم پشتیبانی می‌کند. 
ساخت تصویر با هوش مصنوعی: این پلتفرم به شما اجازه می‌دهد با وارد کردن یک درخواست، تصاویرتان را با هوش مصنوعی تولید کنید. همچنین می‌توانید سبک، نسبت تصویر و مدل را هم  انتخاب کنید.

                        </p>
                        <div class="action-group">
                        {%if user.is_authenticated%}
                            <div class="tag">
                                <ul class="tag">
                                    <li><a class="fs-18" href="#">Crypto</a></li>
                                    <li><i class="bi bi-pen-fill-x"></i><a class="fs-18" href="{% url 'update' post.pk %}">Update</a></li>
                                    <li><a class="fs-18" href="{% url 'delete' post.pk %}">Delete</a></li>
                                </ul>
                            </div>
                        {% endif %}
                            <div class="share">
                                <h6 class="fs-16">اشتراک</h6>
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="blog-content related-post ltr
                    ">
                        <div class="prev">
                            <img src="{% static 'assets/images/blog/related.jpg'%}" alt="Monteno">
                            <div class="action-right">
                                <a href="{% url 'post_detail' post.pk %}"><i class="fa fa-angle-double-left"></i>پست بعدی</a>
                                <div class="divider"></div>
                                <a href="{% url 'post_detail' post.pk %}" class="title rtl">{{post.exerpt}}</a>
                            </div>
                            <div class="next">
                                <img src="{% static 'assets/images/blog/related-1.jpg'%}" alt="Monteno">
                                <div class="action-right">
                                    <a href="{% url 'post_detail' post.pk %}">پست قبلی<i class="fa fa-angle-double-right"></i></a>
                                    <div class="divider"></div>
                                    <a href="{% url 'post_detail' post.pk %}" class="title rtl">{{post.exerpt}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-content post">
                        <img src="{% static 'assets/images/blog/avt.jpg'%}" alt="Monteno">
                        <div class="post-right">
                            <div class="info">
                                <a class="h5">Jewel Khan</a>
                                <ul class="social">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                            <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                            <a class="btn-post" href="#">مشاهده همه پست ها <i class="fa fa-angle-double-left"></i></a>
                        </div>
                    </div>
                    <div class="blog-content comment" id="comment">
                        {% if post.comment_set.count > 1 %}
                            <h3 class="fs-36">{{post.comment_set.count}} نظر</h3>
                        {%else%}
                            <h3 class="fs-36">{{post.comment_set.count}} نظر</h3>
                        {%endif%}

                    {%for comment in post.comment_set.all%}
                        <div class="comment-box mt-0">
                            <img src="{% static 'assets/images/blog/avt1.jpg'%}" alt="Monteno">
                            <div class="comment-right">
                                <div class="top">
                                    <div class="info">
                                        <h5>{{comment.author}}</h5>
                                        <p>{{comment.date}}</p>
                                    </div>
                                </div>
                                <p class="fs-18">{{comment.body}}</p>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    {%if user.is_authenticated%}

                        <div class="blog-content comment-form">
                            <h3 class="fs-36">{{user.username}}یک نظر اضافه کنید</h3>
                            <form class="comment__form" method="post">
                                {% csrf_token%}
                                {{form.as_p}}
                                {% comment %} <div class="form-group">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="نظر شما در اینجا"></textarea>
                                

                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="نام" required>
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="ایمیل" required>
                                    <input class="form-control mr-0" type="text" placeholder="وبسایت شما" required>
                                </div> {% endcomment %}
                                <button type="submit" class="btn-action style-2"><span>ارسال</span></button>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-xl-3 col-md-12">
                {% block sidebar %}
                    {% include "sidebar.html" %} 
                {% endblock %}
            </div>
        </div>
    </div>
</section>

{% endblock content %}